#textdomain wesnoth-Trinity
[scenario]
    id="3_K03"
    name= _ "High Lord"
    map_data="{~add-ons/Trinity/maps/3_K03.map}"
    next_scenario=3_P03
    victory_when_enemies_defeated=no
    {TURNS -1 -1 -1}

    [music]
        name="elvish-theme.ogg"
    [/music]

    {BMR_RESTORE_SIDE 2}
    {BMR_STORE_SIDE 2}
    {DEFAULT_SCHEDULE}

    [story]
        [part]
            story= _ "Echidna had hoped to use Keldan to get in to the main nest of the Elves, but from him she learned that the Elf leadership was heading to Weldyn for some sort of conference."
            background="story/Trinity_swamp.png"
        [/part]
        [part]
            story= _ "This provided an opportunity and a danger. Echidna had to be careful not to take on an enemy that was too powerful, but if she could take control of the leaders collected at this conference... Her odds were best if she moved fast."
            background="story/Trinity_swamp.png"
        [/part]
    [/story]

    [event]
        name=prestart
        [objectives]
            side=2
            [objective]
                condition=win
                description=_ "Capture Ullien-Del (attack with Echidna)"
            [/objective]
            [objective]
                condition=lose
                description=_ "Ullien-Del reaches the safety of the human camp"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Echidna"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Keldan"
            [/objective]
            #			note= _ "Note: Echidna can still turn the Elf healers, because they contain enough intrinsic power for a transformation."
        [/objectives]
        [item]
            x=30
            y=15
            image="scenery/rock2.png"
        [/item]
        {GENERIC_UNIT 1 "Elvish Ranger" 35 13}
        {GUARDIAN}
        {GENERIC_UNIT 1 "Elvish Ranger" 28 23}
        {GUARDIAN}
        {GENERIC_UNIT 1 "Elvish Scout" 38 16}
        {GENERIC_UNIT 2 "Elvish Hero" 19 28}
        {GENERIC_UNIT 2 "Elvish Ranger" 21 29}
        {GENERIC_UNIT 3 "Knight" 12 3}
        {GUARDIAN}
        {GENERIC_UNIT 3 "Dragoon" 4 7}
        {GUARDIAN}
        [set_variable]
            name=touch
            value=0
        [/set_variable]
        {TRINITY_KHTHONIZED (x,y=19,28)}
        {TRINITY_KHTHONIZED (x,y=21,29)}
        {TRINITY_KHTHONIZED (id=Keldan)}
        {MODIFY_UNIT (id=Keldan) race khthon}

        {MODIFY_UNIT (id=Echidna) facing ne}
        {MODIFY_UNIT (id=Ullien-Del) facing sw}
        #	{MODIFY_UNIT (x,y=19,28) alignment chaotic}
        #	{MODIFY_UNIT (x,y=21,29) race lesser_khthon}
        #	{MODIFY_UNIT (x,y=21,29) alignment chaotic}
    [/event]

    [side]
        type=Elvish High Lord
        id=Ullien-Del
        name= _ "Ullien-Del"
        side=1
        canrecruit=yes
        controller=ai
        fog=no
        # figure out how to tune this
#ifdef EASY
        recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
#endif
#ifdef NORMAL
        recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
#endif
#ifdef HARD
        recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
#endif
        {GOLD 120 200 280}
        {INCOME 6 8 12}
        moves=3
        experience=4
        # -FLAGGED-
        # this may need to be fixed in the future, but I am commenting it out now because I have not figured out fallback to default
        #	{ai/aliases/stable_singleplayer.cfg}
        # #ifdef ___UNUSED___
        [ai]
            {MODIFY_AI_ADD_CANDIDATE_ACTION 1 main_loop (
                [candidate_action]
                    id=push_to_destination
                    engine=fai
                    name=push_to_destination
                    type=movement
                    evaluation="if(me.id='Elf1',{AI_CA_COMBAT_SCORE}+10,me.id='Elf2',{AI_CA_COMBAT_SCORE}+10,0)"
                    action="move(me.loc,choose(unit_moves(me.loc),'mloc',-sum(map(simplest_path(mloc,my_leader.loc,me.loc),'path_location', movement_cost( me, path_location ) ))) )"
                [/candidate_action]
            )}
            # This should be changed, so that the behaviour is less simple-minded
            # Actually, I don't think this is necessary.  caution=1.5 was ruining the default ai parameters
            #       {MODIFY_AI_ADD_CANDIDATE_ACTION 1 main_loop (
            #         [candidate_action]
            #             id=make_leader_goal
            #             engine=fai
            #             name=make_leader_goal
            #             type=movement
            #             evaluation="if(me.id='Ullien-Del',{AI_CA_MOVE_LEADER_TO_GOALS_SCORE}+10,0)"
            #             action="move(me.loc,choose(unit_moves(me.loc),'mloc',-sum(map(simplest_path(mloc,loc(2,2),me.loc),'path_location', movement_cost( me, path_location ) ))) )"
            #         [/candidate_action]
            #       )}
            # I don't think this is right, it doesn't seem to do anything
            # who knows? doesn't matter, change caution=1.5 -> caution=0.9
            #	{MODIFY_AI_ADD_STAGE 1 (
            #	[stage]
            #	  id=fallback
            #	  name=testing_ai_default::fallback
            #	  [ai]
            #	     ai_algorithm=default_ai
            #	  [/ai]
            #	[/stage]
            #	)}
        [/ai]
        #	[ai]
        #	[leader_goal]
        #	x,y=2,2
        #	[/leader_goal]
        #	[/ai]
        # #endif
        [ai]
            aggression=0.6
            grouping=offensive
            [target]
                id=Echidna
                value=600
            [/target]
            #	    protect_leader=12.0
            #	    protect_leader_radius=6
            caution=0.9
            [leader_goal]
                x,y=2,2
            [/leader_goal]
        [/ai]
        team_name=Elves
        [unit]
            type=Elvish Champion
            id=Elf1
            generate_name=yes
            gender=male
            random_traits=yes
            x,y=40,14
        [/unit]
        [unit]
#ifdef HARD
            type=Elvish Sylph
#endif
#ifdef NORMAL
            type=Elvish Enchantress
#endif
#ifdef EASY
            type=Elvish Sorceress
#endif
            id=Elf2
            generate_name=yes
            gender=female
            random_traits=yes
            x,y=44,16
        [/unit]
    [/side]

    [side]
        type=EchidnaLow
        save_id=Khthon
        id=Echidna
        name= _ "Echidna"
        ellipse="misc/ellipse"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_QUICK}
        [/modifications]
        unrenamable=yes
        side=2
        race=khthon
        alignment=chaotic
        canrecruit=yes
        controller=human
        fog=no
        recruit=Horse, Yak, Ram, Timber Wolf, Terrapin
        {GOLD 250 205 155}
        {INCOME 6 4 2}
        team_name=Khthon
        # not sure why, but Keldan doesn't get put to recall list
        # probably because he was the enemy ->leader<-
        [unit]
            type=Keldan
            id=Keldan
            name="Keldan"
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_LOYAL}
            [/modifications]
            race=khthon
            profile="portraits/keldan.png"
            alignment=chaotic
            {IS_HERO}
            x,y=20,28
        [/unit]
    [/side]

    [side]
        type=Lieutenant
        id=Serhan
        name= _ "Serhan"
        side=3
        canrecruit=yes
        controller=ai
        fog=no
#ifdef EASY
        recruit=Spearman, Bowman
#endif
#ifdef NORMAL
        recruit=Spearman, Bowman, Cavalryman
#endif
#ifdef HARD
        recruit=Spearman, Bowman, Cavalryman, Fencer
#endif
        {GOLD 120 200 280}
        {INCOME 6 8 12}
        [ai]
            aggression=0.7
            grouping=offensive
            [target]
                id=Echidna
                value=600
            [/target]
            caution=0.8
        [/ai]
        team_name=Elves
    [/side]

    [event]
        name=start
        [message]
            speaker=Serhan
            message = _ "Good to see you, Lord Ullien-Del. The Queen asked us to escort you through the gates of Weldyn, as a courtesy."
        [/message]
        [message]
            speaker=Ullien-Del
            message = _ "It was quite unnecessary, but I appreciate the gesture. We were just about to break camp, let us continue."
        [/message]
        {MOVE_UNIT id=Keldan 24 17}
        {MOVE_UNIT (x,y=19,28) 20 17}
        {MOVE_UNIT (x,y=21,29) 19 16}
        [message]
            speaker=Keldan
            message = _ "Lord Ullien-Del! Halt!"
        [/message]
        [music]
            name=legends_of_the_north.ogg
            append=no
            immediate=yes
        [/music]
        [message]
            speaker=Ullien-Del
            message = _ "Keldan! What are you doing here?"
        [/message]
        [message]
            speaker=Echidna
            message = _ "He is with me. We have you surrounded. Surrender."
        [/message]
        [message]
            speaker=Ullien-Del
            message = _ "Surrender? What is the meaning of this!"
        [/message]
        [message]
            speaker=Serhan
            message = _ "It seems we are needed after all... Lord Ullien-Del, make your way here to safety!"
        [/message]
        [message]
            speaker=Elf1
            message = _ "We will protect you, Lord Ullien-Del."
        [/message]
    [/event]

#ifdef ___UNUSED___

    # this p.o.s. event should be replaced with FAI at some point ---> done, I think
    # I'm changing this to side_number=2 so U-D doesn't get ahead of his guards
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=side_number
                equals=2
            [/variable]
            [then]
                [store_unit]
                    [filter]
                        id=Ullien-Del
                    [/filter]
                    variable=ulliendel
                    kill=no
                [/store_unit]
                [set_variable]
                    name=elf1_x
                    value=$ulliendel.x
                [/set_variable]
                #	[message]
                #	speaker=narrator
                #	message = "ulliendel.x = $ulliendel.x"
                #	[/message]
                [set_variable]
                    name=elf1_x
                    add=1
                [/set_variable]
                [set_variable]
                    name=elf1_y
                    value=$ulliendel.y
                [/set_variable]
                [set_variable]
                    name=elf2_x
                    value=$ulliendel.x
                [/set_variable]
                [set_variable]
                    name=elf2_x
                    add=-1
                [/set_variable]
                [set_variable]
                    name=elf2_y
                    value=$ulliendel.y
                [/set_variable]
                [if]
                    [have_unit]
                        id=Elf1
                        side=1
                    [/have_unit]
                    [then]
                        {MOVE_UNIT (id=Elf1) $elf1_x $elf1_y}
                    [/then]
                [/if]
                [if]
                    [have_unit]
                        id=Elf2
                        side=1
                    [/have_unit]
                    [then]
                        {MOVE_UNIT (id=Elf2) $elf2_x $elf2_y}
                    [/then]
                [/if]
            [/then]
            {CLEAR_VARIABLE elf1_x}
            {CLEAR_VARIABLE elf1_y}
            {CLEAR_VARIABLE elf2_x}
            {CLEAR_VARIABLE elf2_y}
            {CLEAR_VARIABLE ulliendel}
        [/if]
    [/event]
#endif

    [event]
        name=attacker_hits
        [filter]
            side=2
            [not]
                id=Echidna
            [/not]
        [/filter]
        [filter_second]
            id=Ullien-Del
        [/filter_second]
        [message]
            speaker=Echidna
            message = _ "Don't kill him!"
        [/message]
    [/event]

    [event]
        name=attacker_hits
        [filter]
            id=Echidna
        [/filter]
        [filter_second]
            id=Ullien-Del
        [/filter_second]
        #	{MODIFY_UNIT id=Ullien-Del alignment chaotic}
        #	{MODIFY_UNIT id=Ullien-Del race khthon}
        #	{MODIFY_UNIT id=Ullien-Del side 2}
        {MODIFY_UNIT (x,y=$x2,$y2) hitpoints $MODIFY_UNIT_store[$MODIFY_UNIT_i].max_hitpoints}
        [message]
            speaker=Echidna
            message = _ "(Ha! I got him.)  We will fall back, but you will continue onward to your friends. Just act natural..."
        [/message]
        [message]
            speaker=Ullien-Del
            message = _ "Yes..."
        [/message]
        {MOVE_UNIT (id=Ullien-Del) 5 5}
        [message]
            speaker=Serhan
            message = _ "Welcome, Lord Ullien-Del. The other Advisors are expecting you."
        [/message]
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Ullien-Del
            x,y=1-4,1-4
        [/filter]
        [message]
            speaker=Serhan
            message = _ "Welcome, Lord Ullien-Del. The other Advisors are expecting you."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Echidna
        [/filter]
        [message]
            speaker=Echidna
            message= _ "Ah, at least I had a second chance... Sadly, the cold-hearted demons will rule this world..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Keldan
        [/filter]
        [message]
            speaker=Echidna
            message= _ "We don't know where to go, the conference will go on without us..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
