#textdomain wesnoth-Trinity

# v 0.9.0 - This scenario might need to be adjusted so that it works even if the player has advanced to Echidna-Mid
# ^ older versioning system ^
# v 0.0.7 - rebuilt the map

[scenario]
	id="3_K02"
	name= _ "Rebirth"
	map_data="{~add-ons/Trinity/maps/3_K02.map}"
	next_scenario=3_P02
	victory_when_enemies_defeated=no
	{TURNS -1 -1 -1}

	[music]
	name="wanderer.ogg"
	[/music]

	{BMR_RESTORE_SIDE 2}
	{BMR_STORE_SIDE 2}
	{DEFAULT_SCHEDULE}

[story]
    [part]
        story= _ "Echidna sensed some sort of emanation from the elves, they were not like the denizens of the world she knew. It was as if they carried small power sources within themselves. Could they be used to nurish her children? None of the elves she had fought today had had much of the power, but some had more than others. There had to be some way to capture the power, from one elf at a time, so that it could add up to useful levels..."
        background="story/Trinity_swamp.png"
    [/part]
    [part]
        story= _ "In the meantime, she needed to get a better host. If conditions were better, she could avoid obliterating her new host's memories. Fortunately, she did not have to go far..."
        background="story/Trinity_swamp.png"
    [/part]
[/story]


	[event]
	name=prestart
		[objectives]
		side=2
			[objective]
			condition=win
			description=_ "Echidna/Leggon attacks the Shyde Leader"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Echidna/Leggon"
			[/objective]
		[/objectives]
	[item]
        x=9
        y=11
        image="scenery/rock2.png"
        [/item]
	[item]
        x=27
        y=1
        image="scenery/signpost.png"
        [/item]
	{GENERIC_UNIT 1 "Elvish Archer" 13 33}
	{GENERIC_UNIT 1 "Elvish Fighter" 32 29}
	{GUARDIAN}
	{GENERIC_UNIT 1 "Elvish Hero" 21 27}
	{GUARDIAN}
	{GENERIC_UNIT 1 "Elvish Scout" 21 9}
	{GENERIC_UNIT 3 "Elvish Ranger" 16 13}
	{GUARDIAN}
	{GENERIC_UNIT 3 "Elvish Archer" 11 20}
	{GUARDIAN}
	{GENERIC_UNIT 3 "Elvish Shaman" 10 17}
	{GUARDIAN}
	{GENERIC_UNIT 3 "Elvish Shaman" 8 18}
	{GUARDIAN}
		[set_variable]
		name=touch
		value=0
		[/set_variable]
#	{MODIFY_UNIT (id=Echidna) hitpoints $Echidna.max_hitpoints}
	{MODIFY_UNIT (id=Echidna) facing ne}
# what is this doing here?  Does the above thing not work?  no (commenting out)
	{MODIFY_UNIT (id=Echidna) hitpoints $MODIFY_UNIT_store[$MODIFY_UNIT_i].max_hitpoints}
	[/event]

	[side]
	type=Elvish Shyde
	id=Iliena
	name= _ "Iliena"
	side=1
	canrecruit=yes
	controller=ai
	fog=no
#ifdef EASY
	recruit=Elvish Scout, Elvish Archer
#endif
#ifdef NORMAL
	recruit=Elvish Shaman, Elvish Archer, Elvish Scout
#endif
#ifdef HARD
	recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
#endif
	{GOLD 120 200 280}
	{INCOME 6 8 12}
	[ai]
	aggression=0.6
	grouping=offensive
	    [target]
		id=Echidna
		value=600
	    [/target]
	caution=0.9
	[/ai]
	team_name=Elves
	[unit]
	type=Elvish Ranger
	generate_name=yes
	random_gender=yes
	random_traits=yes
	x,y=25,29
	[/unit]
	[/side]

	[side]
	type=Elvish Hero
	save_id=Khthon
	id=Echidna
	name= _ "Leggon"
        ellipse="misc/ellipse-hero"
	        [modifications]
	        {TRAIT_STRONG}
	        {TRAIT_QUICK}
	        [/modifications]
        unrenamable=yes
	side=2
	race=khthon
	alignment=chaotic
	canrecruit=yes
	controller=human
	fog=no
	recruit=Horse, Yak, Ram, Timber Wolf, Terrapin
	{GOLD 150 125 100}
	{INCOME 6 4 2}
	team_name=Khthon
	[unit]
	type=Horse
	id=Beast3
	        [modifications]
	        {TRAIT_LOYAL}
	        {TRAIT_RESILIENT}
	        [/modifications]
	x,y=42,20
	experience=12
	[/unit]
	[/side]

	[side]
	type=Elvish Marshal
	id=Keldan
	name= _ "Keldan"
	side=3
	canrecruit=yes
	controller=ai
	fog=no
#ifdef EASY
	recruit=Elvish Fighter, Elvish Shaman
#endif
#ifdef NORMAL
	recruit=Elvish Fighter, Elvish Archer, Elvish Shaman
#endif
#ifdef HARD
	recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
#endif
	{GOLD 120 200 280}
	{INCOME 6 8 12}
	[ai]
	aggression=0.7
	grouping=offensive
	    [target]
		id=Echidna
		value=600
	    [/target]
	caution=0.8
	[/ai]
	team_name=Elves
	[unit]
	type=Elvish Fighter
	id=Guard1
	generate_name=yes
	random_traits=yes
	x,y=10,17
	ai_special=guardian
	experience=10
	[/unit]
	[/side]

	[event]
	name=start
	[message]
		speaker=Keldan 
		message = _ "Leggon? We were wondering when you all would be returning. Where's Glendora?"
	[/message]
	[message]
		speaker=Echidna
		message = _ "She is on her way. We found something in the swamp, she wanted me to tell you that we would be running late."
	[/message]
	[message]
		speaker=Iliena
		message = _ "Why did she send you? Why didn't she send a scout?"
	[/message]
	[message]
		speaker=narrator 
		message = _ "Echidna grew hungry when she saw the Shyde - she radiated the power much more than the other elves. It might even be enough for a spawning!"
	    image=wesnoth-icon.png
	[/message]
	[message]
		speaker=Iliena
		message = _ "Hello? Leggon?"
	[/message]
	[message]
		speaker=Echidna
		message = _ "I'm sorry, My Lady. I'm a little shaken up by what we saw. It is safe now, but you should see it. If you would-"
	[/message]
	[message]
		speaker=Keldan 
		message = _ "Glendora would have sent a scout, not a fighter, to deliver that message. And you don't talk like Leggon. He would not have called his sister 'My Lady'..."
	[/message]
	[message]
		speaker=Guard1 
		message = _ "Glendora is not coming, is she?"
	[/message]
	[message]
		speaker=Keldan 
		message = _ "'Tis doubtful...  Leggon, you've got one chance to save yourself. If you really are Leggon you will know what I mean..."
	[/message]
	[message]
		speaker=Echidna
		message = _ "I have no idea what you mean. Let's get this over with."
	[/message]
	    [music]
		name=battle.ogg
		append=no
		immediate=yes
	    [/music]
	[/event]

	[event]
	name=attacker_hits
		[filter]
		side=2
		[not]
		    id=Echidna
		[/not]
		[/filter]
		[filter_second]
		id=Keldan
		[/filter_second]
	[message]
		speaker=second_unit 
		message = _ "What are these monsters..."
	[/message]
	[/event]

	[event]
	name=attacker_hits
		[filter]
		id=Echidna
		[/filter]
		[filter_second]
		id=Iliena
		[/filter_second]
	[message]
		speaker=second_unit 
		message = _ "Oh! Leggon, what are you doing!?"
	[/message]
	[message]
		speaker=unit 
		message = _ "I am not Leggon..."
	[/message]
	[item]
		halo=halo/deathglow.png
		x,y=$x1,$y1
	[/item]
	[item]
		halo=halo/deathglow.png
		x,y=$x2,$y2
	[/item]


		[store_unit]
		[filter]
		id=Echidna
		[/filter]
		variable=echidna1
		kill=no
		[/store_unit]
		[store_unit]
		  [filter]
		    id=Echidna
		  [/filter]
		    variable=echidna
		    kill=yes
		[/store_unit]    
                [set_variable]
                    name=echidna.advances_to
                    value=EchidnaLow
                [/set_variable]
	        [set_variable]
        	    name=echidna.experience
        	    value=$echidna.max_experience
        	[/set_variable]
		[set_variable]
		name=echidna.x
		value=$x2
		[/set_variable]
		[set_variable]
		name=echidna.y
		value=$y2
		[/set_variable]
		[set_variable]
		name=echidna.name
		value=Echidna
		[/set_variable]
		[unit]
		type=$echidna1.type
		x,y=$echidna1.x,$echidna1.y
		name="Leggon"
		facing=$echidna1.facing
		side=1
		[/unit] 
		[unstore_unit]
		variable=echidna
            	advance=true
		find_vacant=no
		[/unstore_unit]
	    [music]
		name=casualties_of_war.ogg
		append=no
		immediate=yes
	    [/music]
		[remove_item]
		x,y=$x1,$y1
		[/remove_item]
		[remove_item]
		x,y=$x2,$y2
		[/remove_item]
		[redraw][/redraw]
		[delay]
		time=300
		[/delay]
		[kill]
		name=Leggon
		animate=yes
		[/kill]
	[message]
		speaker=narrator 
		message = _ "Echidna felt much better. The healer elves had power, the Khthon could use it to grow in number."
	    image=wesnoth-icon.png
	[/message]		
	[message]
		speaker=narrator 
		message = _ "But while the Khthon still had to share the world with the other beings, Echidna would need an agent who understood them. The Elf leader would do, though she would need some extra power to birth a full Khthon. A mere Lesser Khthon would not be able to retain Keldan's knowledge."
	    image=wesnoth-icon.png
	[/message]		
		[objectives]
		side=2
			[objective]
			condition=win
			description=_ "Slay the Elves (excluding Keldan)"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Echidna"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Keldan"
			[/objective]
			[objective]
			condition=lose
			description=_ "Keldan escapes"
			[/objective]
			note= _ "Echidna can get the extra power to avoid erasing Keldan's knowledge by killing Shamans."
		[/objectives]
		{CLEAR_VARIABLE echidna}
		{CLEAR_VARIABLE echidna1}
		{CLEAR_VARIABLE iliena}
		[set_variable]
		name=touch
		value=1
		[/set_variable]
	[/event]

	[event]
	name=attack_end
	first_time_only=no
		[filter]
		id=Echidna
		[/filter]
		[filter_second]
		type=Elvish Shaman
#		usage=healer
		[/filter_second]
		[if]
		[variable]
		name=touch
		numerical_equals=1
		[/variable]
		[then]
		[message]
		speaker=Echidna
		message= _ "Yes, this will do!"
		[/message]
		[set_variable]
		name=touch
		value=2
		[/set_variable]
#		{TRANSFORM_UNIT (x,y=$x2,$y2) Khthon-healer}
		{TRANSFORM_UNIT (x,y=$x1,$y1) EchidnaLow2}
		{TRINITY_KHTHONIZED (x,y=$x2,$y2)}
		{MODIFY_UNIT (x,y=$x2,$y2) side 2}
		{MODIFY_UNIT (x,y=$x2,$y2) hitpoints $MODIFY_UNIT_store[$MODIFY_UNIT_i].max_hitpoints}
		[message]
		speaker=Echidna
		message= _ "If I can reach the commander, I can turn him and get us into their stronghold, where there are surely many more of these magical maidens."
		[/message]
		[modify_side]
		side=3
		    [ai]
			[leader_goal]
			x,y=14,8
			[/leader_goal]
		    [/ai]
		[/modify_side]
		[objectives]
		side=2
			[objective]
			condition=win
			description=_ "Echidna attacks Keldan"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Echidna"
			[/objective]
			[objective]
			condition=lose
			description=_ "Death of Keldan"
			[/objective]
			[objective]
			condition=lose
			description=_ "Keldan escapes"
			[/objective]
#			note= _ "Echidna draws strength from the magic of the elvish shamans." 
		[/objectives]
		[/then]
		[/if]
	[/event]

	[event]
	name=moveto
		[filter]
		id=Keldan
		x,y=14,8
		[/filter]
		[modify_side]
		side=3
		gold=300
		    [ai]
			[leader_goal]
			x,y=27,1
			[/leader_goal]
		    [/ai]
		[/modify_side]
	[/event]

	[event]
	name=moveto
		[filter]
		id=Keldan
		x,y=27,1
		[/filter]
		[message]
		speaker=Keldan
		message= _ "I must warn the others!"
		[/message] 
		[message]
		speaker=Echidna
		message= _ "He's getting away..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=attack_end
	first_time_only=no
		[filter]
		id=Echidna
		[/filter]
		[filter_second]
		type=Elvish Shaman
#		usage=healer # this does not appear to work
		[/filter_second]
		[if]
		[variable]
		name=touch
		numerical_equals=2
		[/variable]
		[then]
		[set_variable]
		name=touch
		add=1
		[/set_variable]
#		[message]
#		speaker=narrator
#		message= _ "Khthon that are near death develope a glow and will shed their dying host at the first chance, acquiring a new host through an attack."
#		    image=wesnoth-icon.png
#		[/message]
		[/then]
		[/if]
# does this trigger?  touch should now be 3
		[if]
		[variable]
		name=touch
		greater_than=2
		[/variable]
		[then]
#		{TRANSFORM_UNIT (x,y=$x2,$y2) Khthon-healer}
#		{MODIFY_UNIT (x,y=$x2,$y2) race lesser_khthon}
#		{MODIFY_UNIT (x,y=$x2,$y2) alignment chaotic}
		{TRINITY_KHTHONIZED (x,y=$x2,$y2)}
		{MODIFY_UNIT (x,y=$x2,$y2) side 2}
#		{MODIFY_UNIT (x,y=$x2,$y2) hitpoints $max_hitpoints}
		{MODIFY_UNIT (x,y=$x2,$y2) hitpoints $MODIFY_UNIT_store[$MODIFY_UNIT_i].max_hitpoints}
		[/then]
		[/if]
	[/event]

	[event]
	name=attacker_hits
	first_time_only=no
		[filter]
		id=Echidna
		[/filter]
		[filter_second]
		id=Keldan
		[/filter_second]
		[if]
		[variable]
		name=touch
		greater_than=1
		[/variable]
		[then]
		{MODIFY_UNIT (x,y=$x2,$y2) side 2}
		{MODIFY_UNIT (x,y=$x2,$y2) hitpoints $MODIFY_UNIT_store[$MODIFY_UNIT_i].max_hitpoints}
#		{MODIFY_UNIT (x,y=$x2,$y2) hitpoints $max_hitpoints}
#		{MODIFY_UNIT (x,y=$x2,$y2) race lesser_khthon}
#		{MODIFY_UNIT (x,y=$x2,$y2) alignment chaotic}
		{TRINITY_KHTHONIZED (x,y=$x2,$y2)}
		{TRANSFORM_UNIT (id=Echidna) EchidnaLow}
				[message]
				speaker=Echidna
				message= _ "This isn't the rebirth of our race, but it is a start. And with the help of our friend Keldan, we will become stronger..."
				[/message] 
				{CLEAR_VARIABLE touch}
				[endlevel]
				result=victory
				[/endlevel]
		[/then]
		[/if]
	[/event]

	[event]
	name=last breath
		[filter]
		id=Echidna
		[/filter]
		[message]
		speaker=Echidna
		message= _ "Ah, at least I had a second chance... Sadly, the cold-hearted demons will rule this world..."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

	[event]
	name=die
		[filter]
		id=Keldan
		[/filter]
		[message]
		speaker=Echidna
		message= _ "Well, that was unfortunate...  Navigating this world will be more difficult without a liason such as him."
		[/message] 
		[endlevel]
		result=defeat
		[/endlevel]
	[/event]

[/scenario]
