# wmllint: no translatables

# used to be in BMR, but is only used in Trinity

#define BMR_STORE_SIDE SIDE

    # A macro to avoid the recall list crap

    [event]
        name=victory
        [store_unit]
            variable=side_{SIDE}
            [filter]
                side={SIDE}
                [not]
                    canrecruit=yes
                [/not]
            [/filter]
            kill=yes
        [/store_unit]
        [store_unit]
            [filter]
                side={SIDE}
                canrecruit=yes
            [/filter]
            kill=yes
            variable=leader_{SIDE}
        [/store_unit]
        [kill]
            side={SIDE}
        [/kill]
    [/event]

#enddef

#define BMR_RESTORE_SIDE SIDE

    # another macro to deal with the side handling bullshit

    [event]
        name=prestart
        [store_unit]
            [filter]
                side={SIDE}
                canrecruit=yes
            [/filter]
            variable=oldleader
            kill=yes
        [/store_unit]
        [set_variable]
            name=leader_{SIDE}.x
            value=$oldleader.x
        [/set_variable]
        [set_variable]
            name=leader_{SIDE}.y
            value=$oldleader.y
        [/set_variable]
        # ya never know
        [kill]
            side={SIDE}
            canrecruit=yes
        [/kill]
        # does this work? Fix this <--- I had unstored the variable too soon...
        [set_variable]
            name=leader_{SIDE}.hitpoints
            value=$leader_{SIDE}.max_hitpoints
        [/set_variable]
        #	[wml_message]
        #	    message="leader_SIDE.hitpoint= $leader_{SIDE}.hitpoints|"
        #	    logger=error
        #	[/wml_message]
        [set_variable]
            name=leader_{SIDE}.moves
            value=$leader_{SIDE}.max_moves
        [/set_variable]
        [unstore_unit]
            variable=leader_{SIDE}
        [/unstore_unit]
        {CLEAR_VARIABLE leader_{SIDE}}
        {FOREACH side_{SIDE} index}
            [set_variable]
                name=side_{SIDE}[$index].hitpoints
                value=$side_{SIDE}[$index].max_hitpoints
            [/set_variable]
            # This part works
            [set_variable]
                name=side_{SIDE}[$index].x
                value=recall
            [/set_variable]
            [set_variable]
                name=side_{SIDE}[$index].y
                value=recall
            [/set_variable]
            [unstore_unit]
                variable=side_{SIDE}[$index]
                find_vacant=no
            [/unstore_unit]
        {NEXT index}
        {CLEAR_VARIABLE side_{SIDE}}
    [/event]

#enddef
